<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.callor.hello.dao.ImagesDao">
 
 	<select id="selectAll">
 		SELECT * FROM tbl_images 
 		
 	</select>
 	<select id="findById">
		
 	</select>

 	<insert id="inserts" >
 		INSERT INTO tbl_images (i_seq, i_gemail, i_origin_image, i_up_image)
		VALUES
		<foreach collection="images" item="VO" separator=",">
			(#{VO.i_seq}, #{g_email}, #{VO.i_origin_image}, #{VO.i_up_image} )
		</foreach>
 	</insert>
 	<update id="update"></update>
 	<delete id="delete"></delete>

 </mapper> 